blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==4.4.2
Flask==3.0.3
Flask-Cors==5.0.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.0
moviepy==1.0.3
numpy==2.1.2
openai==1.51.2
packaging==24.1
pillow==10.4.0
proglog==0.1.10
requests==2.32.3
setuptools==75.1.0
tqdm==4.66.5
urllib3==2.2.3
Werkzeug==3.0.4
